.makeEffectIntoText {
    animation: slide-in .4s ease-in;
}

.makeEffectIntoText-2 {
    animation: slide-in-right .8s ease-in;
}

.imageId-forRemove-hiddhenmain {
    /* opacity: 0.1; */
    animation: comesImageANimation .4s ease-in;
}


/* animations.... */

@keyframes comesImageANimation {
    0% {
        transform: translateY(900px);

    }

    100% {
        transform: translateY(0px);
    }
}



@keyframes slide-in {
    0% {
        transform: perspective(1000px) rotateX(70deg);

    }

    100% {
        transform: perspective(1000px) rotateX(0);

    }
}

@keyframes slide-in-right {
    0% {
        transform: perspective(1000px) rotateX(90deg);

    }

    10% {
        transform: perspective(1000px) rotateX(90deg);

    }

    20% {
        transform: perspective(1000px) rotateX(90deg);

    }
    30% {
        transform: perspective(1000px) rotateX(90deg);

    }
    40% {
        transform: perspective(1000px) rotateX(90deg);

    }

    50% {
        transform: perspective(1000px) rotateX(90deg);

    }
    70% {
        transform: perspective(1000px) rotateX(90deg);

    }
    90% {
        transform: perspective(1000px) rotateX(50deg);

    }

    100% {
        transform: perspective(1000px) rotateX(0);

    }
}